<ion-view title="Step 1: Add Personal Details" id="page2">
    <ion-content padding="true " class="has-header">
	
	<div class="container">

	 <span class="glyphicon glyphicon-info-sign pull-left">
      </span>
       <p class="pull-right">Step 2 of 6</p>
       <br>
       <h4 class="text-danger text-center">Any field that is marked with asterisk * is a required field</h4>
        <form class="form-horizontal" >
          
           <div class="form-group"  >
               <label class="control-label col-sm-4 input-md" for="first_name">First Name &#42; </label>
                <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="First Name" required style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="last_name">Last Name &#42;</label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  placeholder="Last name" required style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="email">Email Address &#42;</label>
                <div class="col-sm-4">
                <input type="email" class="form-control"  placeholder="Email" required style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="phone_number">Phone Number</label>
                <div class="col-sm-4">
                <input type="email" class="form-control"  placeholder="Enter your phone number" style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="LinkedIn">LinkedIn Link</label>
                <div class="col-sm-4">
                <input type="text" class="form-control"  placeholder="LinkedIn Link" style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="DOB">Date Of birth</label>
                <div class="col-sm-4">
                <input type="date" class="form-control"  placeholder="" style="padding:10px">
                </div>
           </div>
           <div class="form-group">
               <label class="control-label col-sm-4 input-md" for="resume">Attach your resume &#42; </label>
                <div class="col-sm-4">
                 <input type="file" required>
                </div>
           </div>
          
               <p class="text-center">Don't Have a CV/Resume? No worries, click <a href="#">Here</a> to quickly create your own.
               Remember! We will also edit your CV for you.
               </p>
               <br>
          <div class="col-md-6 text-center">
	       <a href="#" class="btn btn-default btn-block borders ">Cancel</a>
	   </div>
	   <div class="col-md-6 text-center">
	         <a href="#" class="btn btn-danger btn-block borders">Section Complete</a>
	   </div>
        </form>
            
	
        </div>
<!--        </div>-->

	</ion-content>
</ion-view>