<ion-view title="Step 1: Select a Theme. Click to select" id="page1" style="background-color:default;">
    <ion-content padding="true" class="has-header">
    <div class="container">
       <p style = "font-size:30px;margin-bottom:25px;"><button type = "button" style = "background-color:white;border:1px solid white;"><span class="glyphicon glyphicon-info-sign pull-left" onclick=""></span></button><span class="pull-right" style = "font-size:14px;">Step 1 of 6</span></p>
          
        <div class="row">
       <div class="col-md-12" > 
	      <div class="col-xs-12 col-sm-6 col-md-3">
              <h4 class="text-center">Theme 1</h4>
             <a href="#"> <img src="http://placehold.it/400x200" alt="" class="img-responsive center-block">Click to preview</a>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3">
	          <h4 class="text-center">Theme 2</h4>
              <a href="#"> <img src="http://placehold.it/400x200" alt="" class="img-responsive center-block">Click to preview</a>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3">
	          <h4 class="text-center">Theme 3</h4>
              <a href="#"><img src="http://placehold.it/400x200" alt="" class="img-responsive center-block"> Click to preview</a>
	      </div>
	      <div class="col-xs-12 col-sm-6 col-md-3">
	          <h4 class="text-center">Theme 4</h4>
              <a href="#"><img src="http://placehold.it/400x200" alt="" class="img-responsive center-block">Click to preview</a>
	      </div>
	       </div>
        </div>
        
	   <div class = "row" style = "margin-top:20px;">
       <div class="col-xs-6">
	       <button type="button" class="btn btn-default btn-block borders" style= "font-size:12px;">Cancel</button>
	   </div>
	   <div class="col-xs-6">
	         <button type = "button" class="btn btn-danger btn-block borders" style= "font-size:12px;">Section Complete</button>
	   </div>
	   </div>
</div> 
    </ion-content>
</ion-view>